<!DOCTYPE html>
<html>
<head lang="en">
    {% include 'base/header.html' %}
    {% block extraheaders %}
    {% endblock extraheaders %}
    <title>
        {% block title %}
        Please extend title block in your template.
        {% endblock title %}
    </title>
</head>

<body>

    {% include 'base/navbar.html' %}

     <div class="container">
             <section class="jumbotron text-center">
           <div class="container">
            <h1 class="jumbotron-heading" id="page_title">{% block page_title %} Please extend page_title block in your template. {% endblock %}</h1>
            <p class="lead text-muted" id="page_subtitle"> {% block page_subtitle %} Subtitle {% endblock %} </p>
          </div>
        </section>

        {% block main %}
        Main content
        {% endblock main %}
        </div>

         {% block add_rows %}
         {% endblock add_rows %}

{% include 'base/footer.html' %}
{% block extrafooter %}
{% endblock extrafooter %}
</body>
</html>
