{% include "base/analytics.html" %}

<footer class="footer">
  <div class="container">
      <i class="fa fa-steam-square" aria-hidden="true"></i>  Source: Steam Web API
  </div>
</footer>

<!-- jquery -->
<script src="https://code.jquery.com/jquery-3.2.1.min.js" crossorigin="anonymous"></script>

<!-- tooltips https://v4-alpha.getbootstrap.com/components/tooltips/#example-enable-tooltips-everywhere  -->
<script src="https://github.com/HubSpot/tether/blob/master/dist/js/tether.min.js"></script>

<!-- poppers -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.11.0/umd/popper.min.js" integrity="sha384-b/U6ypiBEHpOf/4+1nzFpr53nxSS+GLCkfwBdFNTxtclqqenISfwAzpKaMNFNmj4" crossorigin="anonymous"></script>

<!-- bootstrap -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>

<!-- vue -->
<script src="https://unpkg.com/vue"></script>

<!-- main -->
<script type="text/javascript" src="{{url_for('static', filename='js/main.js')}}"></script>
