{% extends "base/base.html" %} {% block title %} Loading {% endblock title %} {% block page_title %} Loading your profile {% endblock page_title %} {% block page_subtitle %} {% endblock page_subtitle %} {% block main %}

<script>
    var name = "{{name}}";
</script>

<div id="user" class="row justify-content-center">
    <div v-if='state === "loading"'>
        <!--
    See static/css/loading.css for the licensing.
    See also: https://github.com/tobiasahlin/SpinKit
    -->
        <div class="sk-folding-cube">
            <div class="sk-cube1 sk-cube"></div>
            <div class="sk-cube2 sk-cube"></div>
            <div class="sk-cube4 sk-cube"></div>
            <div class="sk-cube3 sk-cube"></div>
        </div>
    </div>
    <div v-if='state === "loaded"' v-cloak>
        <div id="filters">
            <input type="radio" id="twoWeeks" value="true" v-model="isPlaytimeRangeTwoWeeks" v-on:change="updateView">
            <label for="twoWeeks">2 last weeks</label>
            <br>
            <input type="radio" id="global" value="false" v-model="isPlaytimeRangeTwoWeeks" v-on:change="updateView">
            <label for="global">global time</label>
            <br>
            <span>Picked: {{ picked }}</span>
            <label for="maxGame">Volume</label>
            <input v-model="maxGame" type="range" min="0" max="100" value="50" id="maxGame" step="1" v-on:change="updateView"> [[maxGame]]
        </div>
        <div id="chartContainer" style="height: 370px; width: 100%;"></div>
    </div>
</div>
{% endblock main %} {% block extrafooter %}
<script src="https://canvasjs.com/assets/script/canvasjs.min.js"></script>
<script type="text/javascript" src="{{url_for('static', filename='js/user.js')}}"></script>
{% endblock extrafooter %}
