{% extends "base/base.html" %} {% block title %} Loading {% endblock title %} {% block page_title %} Loading your profile {% endblock page_title %} {% block page_subtitle %} {% endblock page_subtitle %} {% block main %} {% block extraheaders %}

<link rel="stylesheet" type="text/css" href="{{url_for('static', filename='css/user.css')}}" />
<link rel="stylesheet" type="text/css" href="{{url_for('static', filename='css/game.css')}}" /> {% endblock extraheaders %}

<script>
    var name = "{{name}}";
</script>

<div id="user" class="row justify-content-center">
    <div v-if='state === "loading"'>
        <!--
    See static/css/loading.css for the licensing.
    See also: https://github.com/tobiasahlin/SpinKit
    -->
        <div class="sk-folding-cube">
            <div class="sk-cube1 sk-cube"></div>
            <div class="sk-cube2 sk-cube"></div>
            <div class="sk-cube4 sk-cube"></div>
            <div class="sk-cube3 sk-cube"></div>
        </div>
    </div>
    <div v-if='state === "loaded"' class="row" v-cloak>
        <div id="filters" class="text-center col-12">
            <div>
                <label for="twoWeeks" class="radio-inline">
                    <input type="radio" id="twoWeeks" value="true" v-model="isPlaytimeRangeTwoWeeksSTR" v-on:change="updateViewFilter">
                    Last 2 weeks
                </label>
                <label for="global" class="radio-inline">
                    <input type="radio" id="global" value="false" v-model="isPlaytimeRangeTwoWeeksSTR" v-on:change="updateViewFilter">
                    Forever
                </label>
            </div>
            <div>
                <label for="players" class="radio-inline">
                    <input type="radio" id="players" value="true" v-model="isPlayerSTR" v-on:change="updateViewFilter">
                    Number of players
                </label>

                <label for="hours" class="radio-inline">
                    <input type="radio" id="hours" value="false" v-model="isPlayerSTR" v-on:change="updateViewFilter">
                    Hours played
                </label>
            </div>
            <div>
                <label for="nbGames">
                    Number of games:  [[currentSelectedMaxGames]]/[[totalMaxGames]]
                    <input v-model="currentSelectedMaxGames" type="range" min="1" max="100" id="nbGames" step="1" v-on:change="updateViewFilter">
                </label>
            </div>
        </div>
        <div id="barChartContainer" class="text-center col-12">
            <h2 class="text-center">[[titleBarChart]]</h2>
            <svg class="barChartSVG"></svg>
        </div>
            <h3 class="text-center">[[titlePieChart]]</h3>
        <div id="pieChartContainer" class="text-center col-6">
            <svg class="pieChartSVG"></svg>
        </div>
            <div id="pieCharLegendContainer" class="text-center col-6">
            <svg class="pieChartLegendSVG"></svg>
        </div>
    </div>
</div>
{% endblock main %} {% block extrafooter %}
<script src="https://d3js.org/d3.v4.min.js" charset="utf-8"></script>
<script type="text/javascript" src="{{url_for('static', filename='js/patterns.js')}}"></script>
<script type="text/javascript" src="{{url_for('static', filename='js/game.js')}}"></script>
<script type="text/javascript" src="{{url_for('static', filename='js/user.js')}}"></script>
{% endblock extrafooter %}
