#pieChartContainer {
  /*margin: 0 auto;
  position: relative;
  height: 360px;
  width: 360px;
  display: none;*/
}
.pieTooltip {
  background: #eee;
  box-shadow: 0 0 5px #999999;
  color: #333;
  display: none;
  font-size: 12px;
  left: 130px;
  padding: 10px;
  position: absolute;
  text-align: center;
  top: 95px;
  width: 80px;
  z-index: 10;
}
.legend {
  font-size: 12px;
}
rect {
  cursor: pointer;
  stroke-width: 2;
}
rect.disabled {
  fill: transparent !important;
}
